p {
    padding-left: 1000px;
    text-align: center;
    font-family: Tahoma;
    padding: 80px;


}


body {
    font-family: Tahoma;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  

.center-text { 
    text-align: left;
    padding-right: 1em;
}

.top {
    max-width: 25%;
    max-height:25%;
    float: center;
    padding-left: 4em;
  }

.bottom {
    
    max-width: 30%;
    max-height:25%;
    float: right;
    padding-right: 3em;
}


.button {
    font-family: Tahoma;
    color: white;
    display: block;
    width: 50px;
    margin: 1em auto;
    height: 50px;
    font-size: 1.1rem;
    background-color: #DB6264;
    min-width: 300px;
    border-radius: 25px;

  }